#container {
	width:100%;
	text-align:center;
	padding-top:7px;
}

#container > * {
    margin-right: 7px;
    margin-bottom: 7px;
}

.tooltipDiv-0 {
	background-color: #90a4ae;
	box-shadow:0px 0px 0px 2px #62757f inset;
}
.tooltipDiv-title-div-0 {
	background-color: #62757f;
}

.tooltipDiv-1 {
	background-color: #ffccbc;
	box-shadow:0px 0px 0px 2px #cb9b8c inset;
}
.tooltipDiv-title-div-1 {
	background-color: #cb9b8c;
}

.tooltipDiv-2 {
	background-color: #fff9c4;
	box-shadow:0px 0px 0px 2px #cbc693 inset;
}
.tooltipDiv-title-div-2 {
	background-color: #cbc693;
}

.tooltipDiv-3 {
	background-color: #b2ebf2;
	box-shadow:0px 0px 0px 2px #81b9bf inset;
}
.tooltipDiv-title-div-3 {
	background-color: #81b9bf;
}

.tooltipDiv-4 {
	background-color: #bbdefb;
	box-shadow:0px 0px 0px 2px #8aacc8 inset;
}
.tooltipDiv-title-div-4 {
	background-color: #8aacc8;
}

.tooltipDiv-5 {
	background-color: #29b6f6;
	box-shadow:0px 0px 0px 2px #0086c3 inset;
}
.tooltipDiv-title-div-5 {
	background-color: #0086c3;
}

.tooltipDiv-6 {
	background-color: #e1bee7;
	box-shadow:0px 0px 0px 2px #af8eb5 inset;
}
.tooltipDiv-title-div-6 {
	background-color: #af8eb5;
}

#tooltipDiv {
	width:176px;
	height:115px;
	display:inline-block;
}

#tooltipDiv-title {
	width:172px;
	height:30%;
	top:2px;
	margin: 0 auto;
	vertical-align:middle;
}


#tooltipDiv-body {
	height:70%;
	overflow:hidden;
}

.titleString {
	font-weight:bold;

}
.sub-title-string {
	font-style:italic;
	text-align:center;
	height:inherit;
	overflow:hidden;
	padding:2px;
}

#header {
	width:100%;
	/*background-color: #ffccbc;*/
}


h1 {
	font-family: Lato;
	margin:0;
}

p { 
	font-family: Lato;
	margin:0;
}

body {
	background-color: #eeeeee;
	margin:0;
}